ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
li {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0.5em;
} 
.small {font-size:75%;}
p {

font-size:75%;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  list-style: none;
}
