
div.tabtwos {
cursor: pointer;
font-size: 120%;
font-weight: bold;
}

a.tabtwo {
	background-image:url('images/slate2.png');
border: 1px solid #000000;
border-bottom-width: 0px;
padding: 2px 1em 2px 1em;
text-decoration: none;
}

a.tabtwo, a.tabtwo:visited {
color: #808080;
}

a.tabtwo:hover {
	background-image:url('images/slate3.png');
	cursor: pointer;
	cursor: hand;
color: white;
}

/*
* note that by default all tab content areas
* have display set to 'none'
*/
div.tabtwoContent {
padding: 4px;
border: 2px solid #000000;
	background-image:url('images/slate2.png');
	display: none;
} 

div.tabs {
cursor: pointer;
font-size: 120%;
font-weight: bold;
}

a.tab {
	background-image:url('images/slate2.png');
border: 1px solid #000000;
border-bottom-width: 0px;
padding: 2px 1em 2px 1em;
text-decoration: none;
}

a.tab, a.tab:visited {
color: #B7CA03;
}

a.tab:hover {
	background-image:url('images/slate3.png');
	cursor: pointer;
	cursor: hand;
color: #81f9ff;
}

/*
* note that by default all tab content areas
* have display set to 'none'
*/
div.tabContent {
padding: 4px;
border: 2px solid #000000;
	background-image:url('images/slate2.png');
	display: none;
}
	

div.page {
width:95%;
margin:5px;
border:1px solid gray;
font-size: 80%;
}



div.header {
	background-image:url("images/headerrepeat.jpg");
	color: yellow;
	text-align: right;
	border-bottom: 1px solid gray;
	height:150px;
	}



div.comment_ {
	clear: both;
	width: 95%;
	margin: 18px;
	font-family: Verdana;
	font-size: 80%;
	padding: 3px;
	border-top: 1px solid #333333;
	color: #36de1f;
	}
	
div.footer {
	clear: both;
	width: 95%;
	margin: 18px;
	text-align: center;
	font-family:Verdana;
	padding: 3px;
	border-top: 1px solid #333333;
	color: #36de1f;
	}

	
div.footer .date {
		float: left;
		text-align: left;
		color:#36DE1F;
		}
	
div.footer .contact {
		float: right;
		text-align: right;
		color:#36DE1F;
		}
		

	
div.h,div.f	{
	padding:0.1em;
		font-size: 150%;
	font-weight: bold;
	font-family: sans-serif;
	background-image:url('images/slate3.png');
	border-bottom: 3px solid black;
	color:black;
	text-align:center;
		}
	
div.sh,div.f	{
	padding:0.1em;
		font-size: 100%;
	font-weight: bold;
	font-family: sans-serif;
	background-image:url('images/slate3.png');
	border-bottom: 3px solid black;
	color:black;
	text-align:center;
		}
div.hchild	{
	font-weight: bold;
	font-family: sans-serif;
	background-image:url('images/slate3.png');
	color: black;
	border-bottom: 3px solid black;
	text-align:center;
		}		
div.l{
		padding:0.25em;
		float:left;
		font-weight:bold;
		text-align:right;
	background-image:url('images/slate.png');
			padding-right: 1em;
		color: #CFCCBE;
		}
		
div.r{
		padding:0.25em;
		text-align:right;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
    }
div.r.highlight{
		padding:0.25em;
		text-align:right;
        color:red;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
		}
div.r.highwarn{
		padding:0.25em;
		text-align:right;
        color:yellow;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
		}
div.r.highwarno{
		padding:0.25em;
		text-align:right;
        color:orange;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
		}
div.chbox  {
		padding:0.25em;
	font-weight: bold;
	font-family: sans-serif;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
	text-align:left;
	color:#CFCCBE;
}
div.toggle {
	display:none;}
div.toggle.open {
display:block;}
div.chbox.highlight  {
		padding:0.25em;
	font-weight: bold;
	font-family: sans-serif;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
	text-align:left;
	color:yellow;
	}

td.redchk{
	font-weight: bold;
	font-family: sans-serif;
	color: red;
	
	}

td.yellowchk {
	font-weight: bold;
	font-family: sans-serif;
	color: yellow;
	
	}


td.chbox{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    overflow:hidden;
    border-radius: 10px;
    -pie-background: linear-gradient(#ece9d8, #E5ECD8);   
    box-shadow: #666 0px 2px 3px;
    overflow: hidden;
	font-weight: bold;
	font-family: sans-serif;
	
	}
	td.sealed{	
		padding:0.25em;
		text-align:right;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
	
	}
	td.sealedr{	
		padding:0.25em;
		text-align:left;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
	}
		td.soon{	
		color:orange;
		padding:0.25em;
		text-align:left;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
	}
			td.impending{	
		color:yellow;
		padding:0.25em;
		text-align:left;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
	}
		td.late{
		color:red;	
		padding:0.25em;
		text-align:left;
		font-size:1.25em;
	background-image:url('images/slate.png');
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
	}
		td.th{	
		padding:0.25em;
		text-align:center;
	background-color:#0A8C1D;
	border-bottom: 2px solid black;
		padding-left: 1em;
		padding-right: 1em;
	}


h1, h2, h3, h4, h5, h6 {
	color: #129B20;
	font-family: Georgia ;
	margin-top: 0px;
	}
/* body */

body {

        color: white;
	background-color: black;
	font-family: sans-serif;
	font-size: 14px;

}

iframe {
	background-color: white;
	
}
/* links */

a {
	color: #0B850F;
	font-size: 14px;
	font-family: sans-serif;
	text-decoration: none;
	text-align:right;
}

a:hover {

	color: white;

}

/* menu */






select {

	color: black;
	font-size: 14px;
	font-family: sans-serif;
	background-color: white;
	border: 1px solid #888888;

}

/* textarea box */

textarea {

	color: black;
	font-size: 14px;
	font-family: sans-serif;
	background-color: white;
	border: 1px solid #888888;

}

legend,label.login {
	font-family:Verdana;
	padding: 10px;
	color: yellow;
	}

p.error{
	font-family:Verdana;
	font-size: 20px;
	padding: 3px;
	color: red;
	}
